{% layout settings.customer_layout %}

<div class="account_area">
	<div class="account_welcome">
		<h2 class="page_heading">My account <a class="link_logout" href="/account/logout">Logout</a></h2>

		<h3 class="account_welcome__name">Hello, {{ customer.name }}</h3>

		<p class="account_welcome__desc">From your "My Account" page you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>	
	</div>

	<div class="account_wrapper">
		<div class="account_left">
			<div class="account_section account_info">
				<h4>ACCOUNT INFORMATION</h4>

				<table class="account_table table_info">
					<tr>
						<td>Name</td>
						<td>{{ customer.name }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ customer.email }}</td>
					</tr>
					<tr>
						<td>Tags</td>
						<td>{% if customer.tags.size >= 1 %}<span>{{ customer.tags | first }}</span>{% for tag in customer.tags offset:1 %}, <span>{{ tag }}</span>{% endfor %}</p>{% else %}—{% endif %}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="account_right">
			<div class="account_section account_default">
				<h4>DEFAULT ADDRESS <span><a class="link_edit" href="/account/addresses">Edit</a></span></h4>

				{% if customer.default_address != nil %}
					<p class="address_item address_location">{{ customer.default_address.street }}{% if customer.default_address.city != "" %}, {{ customer.default_address.city }}{% endif %}{% if address.province_code %} ({{ customer.default_address.province_code }}){% endif %}{% if customer.default_address.country != "" %}, {{ customer.default_address.country }}{% endif %}{% if customer.default_address.zip != "" %}, {{ customer.default_address.zip }}{% endif %}</p>
					{% if customer.default_address.phone != "" %}<p class="address_item address_phone">{{ customer.default_address.phone }}</p>{% endif %}
				{% else %}
					<p class="note">You have not set a default address</p>
				{% endif %}

				<p class="address_all">
					<a href="/account/addresses">Manage addresses ({{ customer.addresses_count }})</a>
				</p>
			</div>
		</div>
	</div>

	<div class="account_section account_orders">
		<h4>ORDERS</h4>

		<table class="account_table table_info">
			<tr>
				<td>Total orders</td>
				<td>{{ customer.orders | size }}</td>
			</tr>
			<tr>
				<td>Total spent</td>
				<td><span class="money">{{ customer.total_spent | money }}</span></td>
			</tr>
		</table>

		{% if customer.orders.size != 0 %}
			<div class="table_orders__wrap">
				<table class="account_table table_orders">
					<thead>
						<tr>
							<th>Order</th>
							<th>Date</th>
							<th>Payment status</th>
							<th class="cell_fulfillment">Fulfillment status</th>
							<th class="cell_total">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for order in customer.orders %}
							<tr class="{% if order.cancelled %}order_cancelled{% endif %}">
								<td>{{ order.name | link_to: order.customer_url }}</td>
								<td>{{ order.created_at | date: "%b %d, %Y" }}</td>
								<td>{{ order.financial_status }}</td>
								<td class="cell_fulfillment">{{ order.fulfillment_status }}</td>
								<td class="cell_total"><span class="money">{{ order.total_price | money }}</span></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p class="note">You haven't placed any orders yet.</p>
		{% endif %}
	</div>
</div>



{% comment %}



{{ order.billing_address }} <br>
{{ order.cancelled }} <br>
{{ order.cancelled_at }} <br>
{{ order.cancel_reason }} <br>
{{ order.cancel_reason_label }} <br>
{{ order.created_at }} <br>
{{ order.customer }} <br>
{{ order.customer_url }} <br>
{{ order.discounts }} <br>
{{ order.email }} <br>
{{ order.financial_status }} <br>
{{ order.financial_status_label }} <br>
{{ order.fulfillment_status }} <br>
{{ order.fulfillment_status_label }} <br>
{{ order.line_items }} <br>
{{ order.location }} <br>
{{ order.name }} <br>
{{ order.note }} <br>
{{ order.order_number }} <br>
{{ order.shipping_address }} <br>
{{ order.shipping_methods }} <br>
<span class="money">{{ order.shipping_price | money }}</span> <br>
<span class="money">{{ order.subtotal_price | money }}</span> <br>
{{ order.tax_lines }} <br>
<span class="money">{{ order.tax_price | money }}</span> <br>
<span class="money">{{ order.total_price | money }}</span> <br>
{{ order.transactions }} <br>



{% for address in customer.addresses %}
	name: {{ address.name }} <br>
	first_name: {{ address.first_name }} <br>
	last_name: {{ address.last_name }} <br>
	address1: {{ address.address1 }} <br>
	address2: {{ address.address2 }} <br>
	street: {{ address.street }} <br>
	company: {{ address.company }} <br>
	city: {{ address.city }} <br>
	province: {{ address.province }} <br>
	province_code: {{ address.province_code }} <br>
	zip: {{ address.zip }} <br>
	country: {{ address.country }} <br>
	country_code: {{ address.country_code }} <br>
	phone: {{ address.phone }} <br>
{% endfor %}
{% endcomment %}










{% comment %}
{% if customer.default_address.address1 != "" %}{{ customer.default_address.address1 }}{% else %}—{% endif %}
Address 2
{% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}{% else %}—{% endif %}
City
{% if customer.default_address.city != "" %}{{ customer.default_address.city }}{% else %}—{% endif %}
Province
{% if address.province_code %}{{customer.default_address.province_code}}{% else %}—{% endif %}
Country
{{customer.default_address.country}}
Zip code
{{ customer.default_address.zip}}
Phone
{% if customer.default_address.phone != "" %}{{ customer.default_address.phone }}{% else %}—{% endif %}
{% endcomment %}



{% comment %}
					<table class="account_table account_table__info">
						<tr>
							<td>Address 1</td>
							<td>{% if customer.default_address.address1 != "" %}{{ customer.default_address.address1 }}{% else %}—{% endif %}</td>
						</tr>
						<tr>
							<td>Address 2</td>
							<td>{% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}{% else %}—{% endif %}</td>
						</tr>
						<tr>
							<td>City</td>
							<td>{% if customer.default_address.city != "" %}{{ customer.default_address.city }}{% else %}—{% endif %}</td>
						</tr>
						<tr>
							<td>Province</td>
							<td>{% if address.province_code %}{{customer.default_address.province_code}}{% else %}—{% endif %}</td>
						</tr>
						<tr>
							<td>Country</td>
							<td>{{customer.default_address.country}}</td>
						</tr>
						<tr>
							<td>Zip code</td>
							<td>{{ customer.default_address.zip}}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>{% if customer.default_address.phone != "" %}{{ customer.default_address.phone }}{% else %}—{% endif %}</td>
						</tr>
					</table>
{% endcomment %}




{% comment %}
<h5 class="account_details__billing">DEFAULT BILLING ADDRESS</h5>
				{% if customer.addresses_count == 0 %}
					<p>You have not set a default billing address.</p>
				{% else %}

				{% endif %}
				<h5 class="account_details__shipping">DEFAULT SHIPPING ADDRESS</h5>
				<p>{{ shipping.address | size }}</p>
{% endcomment %}






{% comment %}
<div id="admin_header" class="customer customer_account">
<div class="row">

<div id="customer_sidebar" class="col-sm-4">
<div id="customer_detail" class="group">
	<address class="note">
	{% if customer.default_address != nil %}
	<ul class="address">
	<li><strong>Address 1: </strong>{{ customer.default_address.address1 }}</li>
	<li><strong>Address 2: </strong>{% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}{% endif %}</li>
	<li><strong>City: </strong>{{ customer.default_address.city}},</li>
	<li><strong>Province: </strong>{% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}</li>
	<li><strong>Country: </strong>{{customer.default_address.country}}</li>
	<li><strong>Zip code: </strong>{{ customer.default_address.zip}}</li>
	<li><strong>Phone: </strong>{{ customer.default_address.phone }}</li>
	</ul>
	{% endif %}
	<a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
	</address>
</div>
</div>

<div id="customer_orders" class="col-sm-8">
	{% if customer.orders.size != 0 %}
	<table class="table table-striped">
		<thead>
			<tr>
			<th class="order_number">Order</th>
			<th class="date">Date</th>
			<th class="payment_status">Payment Status</th>
			<th class="fulfillment_status">Fulfillment Status</th>
			<th class="total">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for order in customer.orders %}
			<tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
			<td>{{ order.name | link_to: order.customer_url }}</td>
			<td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
			<td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
			<td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
			<td><span class="total money">{{ order.total_price | money }}</span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<b>You haven't placed any orders yet.</b>
	{% endif %}
</div>

</div>
</div>
{% endcomment %}